
@keyframes blink {
    0% {
        opacity: 1;
    }
    50% {
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
}

.input {
    outline: none;

    &:focus::after {
        animation: blink 1s step-end infinite;
        border: none;
        display: inline;
        vertical-align: bottom;
        content: "_";
    }
}