
@keyframes blink {
    0% {
        opacity: 1;
    }
    50% {
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
}

.input {
    outline: none;

    &::after {
        border: none;
        display: inline-block;
        vertical-align: bottom;
        opacity: 0.5;
        content: attr(data-autocomplete);
    }

    /* 
    &:focus::after {
        animation: blink 1s step-end infinite;
        border: none;
        display: inline-block;
        vertical-align: bottom;
        content: "_";
    } */
}