@font-face {
    font-family: 'Roboto Slab';
    src: local('Roboto Slab'), 
         url('../fonts/Roboto_Slab/RobotoSlab.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

body {
    background-color: var(--bg-color-main);
    font-family: serif;
    overflow: hidden;
    padding: 0;
    margin: 0;
}

#content {
    height: 100vh;
    width: 100vw;
}

.center {
    display: flex;
    justify-content: center;
    align-items: center;
}

.bg-path {
    top: 0; left: 0;
    position: fixed;
    user-select: none;
    pointer-events: none;
    z-index: -1;
}

.bg-path-outer {
    fill: var(--bg-path-outer);
}

.bg-path-inner {
    fill: var(--bg-path-inner);
}

::-webkit-scrollbar {
    background: transparent;
    width: 10px;
}

::-webkit-scrollbar-track {
    background: transparent;
}

::-webkit-scrollbar-thumb {
    background: rgb(121, 121, 121); 
}

::-webkit-scrollbar-thumb:hover {
    background: rgb(66, 66, 66); 
}