/* Basic styles for the heading */
.header {
    background-image: url('../images/logo.svg');
    background-position: center;
    background-repeat: no-repeat;
    background-color: #121212;
    background-size: 30vw;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    text-align: center;
    padding: 80px;
    height: 100vh;
    display: flex;
    width: 100%;
}

/* Give perspective to the animation */
.header-animation {
    perspective: 400px;
}

/* Force divs to be inline */
.header-animation div {
    margin-bottom: .1875566421em;
    line-height: 1.1253398526;
    display: inline-block;
    position: relative;
}

.particles-js-canvas-el {
    pointer-events: none;
    position: absolute;
    top: 0; left: 0;
}

.svgDrip {
    position: absolute;
    z-index: 101;
    bottom: 0;
}

.header h1 {
    line-height: 50px;
    font-size: 15vw;
    color: #fff;
}

@media (min-width: 550px) {
    .header h1 {
        font-size: 150px;
    }
}

.header h2 {
    font-size: 5vw;
    color: #fff;
}

@media (min-width: 550px) {
    .header h2 {
        font-size: 50px;
    }
}