/* Basic styles for the heading */
.header {
    /* background-image: url('../images/logo.svg');
    background-position: center;
    background-repeat: no-repeat;
    background-color: #121212;
    background-size: 30vw; */
    justify-content: center;
    flex-direction: column;
    align-items: center;
    text-align: center;
    font-family: Roboto, Helvetica, Arial, sans-serif;
    padding: 80px;
    height: 100vh;
    display: flex;
    width: 100%;
}

.header h1 {
    line-height: 50px;
    font-size: 15vw;
    color: #fff;
}

#titles {
    transition: opacity 100ms linear;
    font-size: 5vw;
    color: #fff;
}

#progress {
    background-color: purple;
    position: sticky;
    height: 10px;
    top: 0;
}

@media (min-width: 550px) {
    .header h1 {
        font-size: 150px;
    }
}

@media (min-width: 550px) {
    .header h2 {
        font-size: 50px;
    }
}